target/META-INF/mule-src/fastgo-externalsystem/src/main/mule/global/fastgo-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-externalsystemFlow" doc:id="8f66a3f4-a18a-43f6-b667-5948d113caab" >
		<http:listener doc:name="Listener" doc:id="03377350-1fe5-4305-885f-ba9e79f8e93c" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]">
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="29a2ca8d-af9e-453a-917d-8ec557a1c7ac" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="aef21779-bc4b-4f9d-8157-6ec6302349fd" message="Request Received For FastGo External System For TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="2fecad48-dd13-4ac5-a553-4ffe7854d94a" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="85e3a9fd-46ac-4393-b7cb-4009010c4fd9" message="Routes flow called For FastGo External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="0c7f743d-aab0-450e-ad3a-3d18cc2fdb53" name="FastGo-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="a40e7c66-2c2e-4321-9824-7b05b7ece2ca" message="Schedule flow called For FastGo External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="6aa8da97-20ef-4ad9-87fd-8ab58159600c" name="FastGo-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="0a03f924-ca7c-47e2-b42a-95e0e31b88b8" message="URI Parameter Is Not Correct For FastGo External System For TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="9d89e4e9-8898-4d0d-8492-8d7f78b05710" message="Response Sent For FastGo External System For TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="69de0c6d-1991-4455-9150-e1a4ad478091" >
				<logger level="INFO" doc:name="Logger" doc:id="2e0510c3-45c1-432f-a797-b8515e007e5a" message="Error Occured For FastGo External System For TransactionId: #[vars.transactionId] reason: #[error.errorMessage] error Type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="3406aa49-f88a-4c0d-8a0a-a094df7501d1" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMessage": "Error in TravelOnTip System"
}]]></ee:set-variable>
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
